<div class="container">
 <div class="row m-5">
  <h4 class="mt-5" style="color: lime;">リスト一覧</h4>
 </div>
 
 <div class="row justify-content-center">
  <table class="table table-borderless border col-6" style="background-color: black;">
   <thead class="border-bottom">
    <tr>
     <th><%= link_to "+  リストを追加する",new_list_path,style:'color: lime;' %></th>
     <th colspan="2" style="color: lime;">未完了</th>
    </tr>
   </thead>
   <tbody>
    <% @lists.each do |list| %>
     <tr>
      <td style="vertical-align: middle;">
       <%= link_to index_tasks_path(list.id),class:'text-white' do %>
        <%= list.name %>
       <% end %>
      </td>
      <td class="text-white text-center"><%= list.tasks.where(complete: false).count %></td>
      <td>
       <%= link_to list_path(list.id),method: :delete do %>
        <i class="fa-solid fa-trash-can garbage"></i>
       <% end %>
      </td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>