<div class="container">
 <div class="row m-5">
  <%= form_with url: index_tasks_path(@list.id),method: :get,class: 'boards_searchForm' do |f| %>
   <%= f.select :tag_id,options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),{prompt: 'タグで絞り込み検索'},{onchange: 'submit(this.form)'} %>
  <% end %>
  <%= link_to "+",new_task_path,class:'btn btn-success rounded-circle p-0 ml-auto mr-5',style:"width: 4rem; height: 4rem; line-height: 4rem;" %>
 </div>
 
 <div class="row mx-auto">
  <table class="table table-borderless border text-center col-3 mr-4" style="background-color: black;">
   <thead class="border-bottom bg-secondary">
    <tr>
     <th colspan="2" style="color: lime;">完了リスト</th>
    </tr>
   </thead>
   <tbody>
    <% @tasks.each do |task| %>
     <% if task.complete %>
      <tr>
       <td>
        <%= link_to edit_task_path(task.id),class:'text-white' do %>
         <%= task.name %>
        <% end %>
       </td>
       <td><%= link_to "戻す",complete_task_path(task.id),method: :patch,class:'btn btn-outline-danger' %></td>
      </tr>
     <% end %>
    <% end %>
   </tbody>
  </table>
  
  <table class="table table-borderless border col-8 ml-5" style="background-color: black;">
   <thead class="border-bottom bg-secondary">
    <tr>
     <th colspan="2" style="color: lime;"><%= @list.name %></th>
     <th colspan="2" style="color: lime;">
      名前順<%= link_to "↑",index_tasks_path(@list.id,sort: 'name'),class:'text-white' %><%= link_to "↓",index_tasks_path(@list.id,sort: 'name DESC'),class:'text-white' %>
      作成順<%= link_to "↑",index_tasks_path(@list.id,sort: 'created_at'),class:'text-white' %><%= link_to "↓",index_tasks_path(@list.id,sort: 'created_at DESC'),class:'text-white' %>
      日付順<%= link_to "↑",index_tasks_path(@list.id,sort: 'start_time'),class:'text-white' %><%= link_to "↓",index_tasks_path(@list.id,sort: 'start_time DESC'),class:'text-white' %>
     </th>
    </tr>
   </thead>
   <tbody>
    <% @tasks.each do |task| %>
     <% unless task.complete %>
      <tr>
       <td><%= link_to "完了",complete_task_path(task.id),method: :patch,class:'btn btn-outline-success' %></td>
       <td style="vertical-align: middle;">
        <%= link_to edit_task_path(task.id),class:'text-white' do %>
         <%= task.name %>
        <% end %>
       </td>
       <td class="text-white" style="vertical-align: middle;"><%= task.start_time.strftime('%Y.%m.%d') %></td>
       <td><%= link_to "削除",task_path(task.id),method: :delete,class:'btn btn-outline-danger' %></td>
      </tr>
     <% end %>
    <% end %>
    <tr>
     <td colspan="4" class="text-center"><%= link_to "全て完了",complete_all_task_path(@list.id),method: :patch,class:'btn btn-success' %></td>
    </tr>
   </tbody>
  </table>
 </div>
</div>