<div class="container">
 <div class="row">
  <div class="m-5">
   <p class="text-center">ユーザープロフィール</p>
   <table class="table table-borderless border border-dark">
    <tbody>
     <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
     </tr>
    </tbody>
   </table>
   <p class="text-center">
    <%= link_to "編集する",edit_user_path(@user.id),class:'btn btn-success' %>
   </p>
  </div>
  
  <div class="m-5">
   <p class="text-center"><%= Date.current.strftime('%m月 %d日') %></p>
   <table class="table table-borderless border border-dark">
    <tbody>
     <% @task.each do |task| %>
      <% unless task.complete %>
       <tr>
        <td><%= task.name %></td>
       </tr>
      <% else %>
       <tr>
        <td>今日の予定はありません</td>
       </tr>
      <% end %>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>