<div class="container">
 <div class="row">
  <div class="box rounded p-4 mt-5">
   <p class="box-text text-center">ユーザープロフィール</p>
   <table class="table table-borderless">
    <tbody>
     <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
     </tr>
    </tbody>
   </table>
   <p class="text-center">
    <%= link_to "編集する",edit_user_path(@user.id),class:'btn btn-success' %>
   </p>
  </div>
  
  <div class="box rounded-pill p-4 m-5 col-7 ml-auto">
   <p class="box-text text-center px-5"><%= Date.current.strftime('%m月 %d日') %></p>
   <table class="table table-borderless text-center">
    <tbody>
     <% @task.each do |task| %>
      <% if task.complete %>
       <tr class="info border-bottom">
        <td><%= task.name %></td>
       </tr>
      <% else %>
       <tr class="border-bottom">
        <td><%= task.name %></td>
       </tr>
      <% end %>
     <% end %>
     <% if @task.blank? %>
      <tr>
       <td>今日の予定はありません</td>
      </tr>
     <% end %>
    </tbody>
   </table>
   <p class="text-center">
    <%= link_to "+ タスクを追加する",new_task_path,class:'btn btn-primary' %>
   </p>
  </div>
 </div>
  
 <div class="row">
  <div class="box rounded-pill p-4 m-5 col-7 ml-auto">
   <p class=" box-text text-center px-5">お知らせ</p>
   <table class="table table-borderless text-center">
    <tbody>
     <% @tasks.first(4).each do |task| %>
      <% if task.start_time <= Time.current %>
       <tr class="info border-bottom">
        <td><%= task.start_time.strftime('%H時%M分') %>:「<%= task.name %>」の開始時間です。</td>
       </tr>
      <% elsif task.finish_time >= Time.current %>
       <tr class="text-danger border-bottom">
        <td><%= task.finish_time.strftime('%H時%M分') %>:「<%= task.name %>」の終了時間です。</td>
       </tr>
      <% end %>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>