<div class="container">
 <div class="row">
  <div class="border p-4 m-5" style="background-color: black;">
   <p class="text-center" style="color: lime;">ユーザープロフィール</p>
   <table class="table table-borderless">
    <tbody>
     <tr>
      <td class="text-white">名前</td>
      <td class="text-white"><%= @user.name %></td>
     </tr>
     <tr>
      <td class="text-white">メールアドレス</td>
      <td class="text-white"><%= @user.email %></td>
     </tr>
    </tbody>
   </table>
   <p class="text-center">
    <%= link_to "編集する",edit_user_path(@user.id),class:'btn btn-success' %>
   </p>
  </div>
  
  <div class="border p-4 m-5" style="background-color: black;">
   <p class="text-center px-5" style="color: lime;"><%= Date.current.strftime('%m月 %d日') %></p>
   <table class="table table-borderless">
    <tbody>
     <% @task.each do |task| %>
      <% if task.complete %>
       <tr>
        <td class="text-success"><%= task.name %></td>
       </tr>
      <% else %>
       <tr>
        <td class="text-white"><%= task.name %></td>
       </tr>
      <% end %>
     <% end %>
     <% if @task.blank? %>
      <tr>
       <td class="text-white">今日の予定はありません</td>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>