<div class="container">
 <div class="row justify-content-center mt-5">
  <h5 class="mt-5">ログイン</h5>
 </div>
 
 <div class="row justify-content-center mt-5">
  <%= form_with model: @user,url: user_session_path do |f| %>
  <table class="table table-borderless border-bottom border-dark">
   <tbody>
    <tr>
     <td>メールアドレス</td>
     <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
     <td>パスワード</td>
     <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
     <td></td>
     <td><%= f.submit "ログイン" %></td>
    </tr>
   </tbody>
  </table>
  <% end %>
 </div>
 
 <div class="text-center">
  <p>
   アカウントをお持ちでない方は<%= link_to "こちら",new_user_registration_path %>から
  </p>
 </div>
</div>