<div class="container">
 <div class="row">
  <div class="col-6">
   <table class="table border mt-5" style="background-color: black;">
    <thead>
     <tr>
      <th colspan="4"><%= link_to "+  チャレンジを追加する",new_challenge_path,style:'color: lime;' %></th>
     </tr>
    </thead>
   
    <tbody>
     <% @challenges.each do |challenge| %>
      <% unless challenge.complete %>
       <tr>
        <td><%= link_to "完了",complete_challenge_path(challenge.id),method: :patch,class:'btn-sm btn-outline-success' %></td>
        <td style="color: white; vertical-align: middle;"><%= challenge.name %></td>
        <td style="color: white; vertical-align: middle;"><%= challenge.point %>P</td>
        <td><%= link_to "削除",challenge_path(challenge.id),method: :delete,class:'btn-sm btn-outline-danger' %></td>
       </tr>
      <% end %>
     <% end %>
     <tr class="border border-white text-center">
      <td colspan="4"><%= link_to "全て完了",complete_all_challenge_path,method: :patch,class:'btn-sm btn-success' %></td>
     </tr>
    </tbody>
   </table>
   
   <table class="table border mt-5" style="background-color: black;">
    <thead>
     <tr>
      <th style="color: lime; vertical-align: middle;">完了リスト</th>
      <th><%= link_to "全て削除",destroy_all_challenge_path,method: :delete,class:'btn-sm btn-danger' %></th>
     </tr>
    </thead>
   
    <tbody>
     <% @challenges.each do |challenge| %>
      <% if challenge.complete %>
       <tr>
        <td colspan="2" style="color: white;"><%= challenge.name %></td>
       </tr>
      <% end %>
     <% end %>
    </tbody>
   </table>
  </div>
  
  <div class="row mt-5 col-6 text-center mx-auto justify-content-center">
   <p class="text-center text-white border py-2 m-auto col-6" style="background-color: black;"><%= @user.total_point %>P</p>
   <table class="table border mt-5" style="background-color: black;">
    <thead>
     <tr>
      <th colspan="4" class="text-center col-4" style="color: lime;">ご褒美リスト</th>
     </tr>
    </thead>
    
    <tbody>
     <% @rewards.each do |reward| %>
      <tr>
       <td><%= link_to "実行",reward_path(reward.id),method: :patch,class:'btn-sm btn-outline-success' %></td>
       <td class="text-white" style="vertical-align: middle;"><%= reward.cost_point %>P</td>
       <td class="text-white" style="vertical-align: middle;"><%= reward.reward_name %></td>
       <td><%= link_to "削除",reward_path(reward.id),method: :delete,class:'btn-sm btn-outline-danger' %></td>
      </tr>
     <% end %>
    </tbody>
   </table>
   
   <%= form_with model: @reward,url: rewards_path,method: :post do |f| %>
    <div class="form">
     <%= f.text_field :reward_name,class:'border text-white',style:'background-color: black;',:placeholder=> "ご褒美名　例:ゲーム" %></br>
     <%= f.select :cost_point, {'ご褒美小(100p)':100,'ご褒美中(150p)':150,'ご褒美大(200p)':200},{include_blank: "消費ポイント"},{class:'text-white m-2',style:'background-color: black;'} %>
     <%= f.submit "追加",class:'btn-sm btn-success' %>
    </div>
   <% end %>
  </div>
 </div>
</div>